{{=<% %>=}}
{{#items}}
  <div itemscope itemtype="http://schema.org/Book" class="library-item">
    <div class="img_hold">
      <a class="item-link" href="<%appUrl%>/details/{{identifier}}">
        <img itemprop="image" class="img-responsive" src="<%readiumUrl%>/{{thumbHref}}" title="{{title}}" alt="" />
      </a>
    </div>
    <div class="book-info">
      <h4 itemprop="name" class="book-title"><a class="item-link" href="<%appUrl%>/details/{{identifier}}">{{title}}</a></h4>
      {{#if subtitle}}
          <h4 itemprop="name" class="book-subtitle"><a class="item-link" href="<%appUrl%>/details/{{identifier}}">{{subtitle}}</a></h4>
      {{/if}}

      <div class="author">by <span itemprop="author">{{author}}</span></div>
      <div itemprop="description">{{{truncate this 300}}}</div>
      <div class="buttons">
        <a class="btn btn-default" href="<%appUrl%>/details/{{identifier}}">View Details</a>
        <a class="btn btn-default" href="<%appUrl%>/book/{{identifier}}">Read Online</a>
      </div>
    </div>
  </div>
{{/items}}
