{{=<% %>=}}
<script id="<% id %>" type="text/x-handlebars-template">
  {{#items}}
    <div itemscope itemtype="http://schema.org/Book" class="detail-item">
      <div class="img-hold">
        <img itemprop="image" class="img-responsive" src="<% readiumUrl %>/{{thumbHref}}" alt="{{title}}" title="{{title}}"/>
      </div>
      <div class="book-info">
        <h4 itemprop="name" class="book-title">{{title}}</h4>
        <div><span class="infolabel">Author:</span><span itemprop="author"> {{author}}</span></div>
        <div><span class="infolabel">Publisher:</span><span itemprop="publisher"> {{publisher}}</span></div>          
        <div><span class="infolabel">Publication Date:</span><span itemprop="datePublished"> {{date}}</span></div>
        <div><span class="infolabel">Subject:</span><span itemprop="about"> {{subject}}</span></div>      
        <div><span class="infolabel">ISBN:</span><span itemprop="isbn"> {{identifier}}</span></div>      
        <div><span class="infolabel">Permanent Link:</span><span itemprop="sameAs"> {{handle}}</span></div>            
        <div><span class="infolabel">Number of pages:</span><span itemprop="numberOfPages"> {{format}}</span></div>
        <div id="description"><p itemprop="description">{{description}}</p></div>
        <div class="buttons">
          <a class="btn btn-default" href="http://nyupress.org/books/{{identifier}}" target="_blank">Buy the book</a>
          <a class="btn btn-default" href="<% appUrl %>/book/{{identifier}}">Read</a>
        </div>
        <div class="rights-info">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
            <img width="80" height="15" alt="Creative Commons License" style="border-width:0" src="<% appUrl %>/images/creativecommonsbadge.png" />
          </a>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
        </div>
      </div>
    </div>
  {{/items}}
</script>
